header {
    background-color: var(--cor-principal);
    padding: 3px;
    text-align: center; /* Centraliza a imagem no header */
}

.imgLogo {
    margin: 5px;
    max-width: 100%; /* Garante que a imagem não exceda a largura da tela */
    height: auto; /* Mantém a proporção da imagem */
}

:root {
    --cor-principal: #1A1A19;
    --cor-fundo: #706e6e;
}

body {
    background-color: var(--cor-fundo);
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Para melhor empilhamento em telas menores */
    height: 90vh;
}

.Temas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
}

button {
    background-color: var(--cor-principal);
    border: none;
    padding: 13px;
    height: 45px;
    width: 130px;
    margin: 8px;
    border-radius: 18px;
    font-size: 16px;
    color: #EEEEEE;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.384);
}

.Titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.imagem {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column; /* Muda para coluna em telas menores */
    margin-top: 20px; /* Ajusta a margem */
}

.imagemForca {
    width: 100%; /* Ajusta a imagem para ocupar toda a largura disponível */
    max-width: 250px; /* Limita a largura máxima */
    border-radius: 24px;
}

.tema {
    color: #EEEEEE;
    font-size: 20px;
    padding: 10px;
    text-align: left;
}

#letras {
    font-size: 44px;
    color: var(--cor-principal);
    align-items: center;
    margin-top: 20px; /* Ajusta a margem */
}

.input {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.input input {
    width: 30px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--cor-principal);
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    background-color: var(--cor-principal);
}

.teclado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 20px; /* Ajusta a margem */
    width: 100%; /* Ajusta a largura */
}

.teclado button {
    background-color: var(--cor-principal);
    color: #EEEEEE;
    border: none;
    padding: 5px;
    width: 25px; 
    height: 25px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.2s;
}

.teclado button:hover {
    transform: scale(1.1);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.teclado button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita scroll se necessário */
    background-color: rgb(0,0,0); /* Cor de fundo */
    background-color: rgba(0,0,0,0.4); /* Fundo preto com transparência */
}

.modal-conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-fundo);
    margin: 15% auto; /* Centraliza o modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
    text-align: center;
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.botaoModal {
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 10px 30px 10px; 
    background-color: var(--cor-principal);
    border: none;
    width: 130px;
    height: 80px;
    border-radius: 18px;
    font-size: 16px;
    color: #EEEEEE;
    cursor: pointer;
}

/* Media Queries */

/* Telas menores que 768px */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Muda para coluna em telas menores */
    }
    .imagem {
        flex-direction: column; /* Muda para coluna em telas menores */
    }
    .teclado {
        flex-wrap: wrap; /* Quebra a linha em telas menores */
    }
    .teclado button {
        width: 50px; /* Ajusta a largura dos botões em telas menores */
        height: 50px; /* Ajusta a altura dos botões em telas menores */
    }
}

/* Telas menores que 480px */
@media (max-width: 480px) {
    .container {
        padding: 20px; /* Ajusta a margem em telas menores */
    }
    .imagemForca {
        width: 100%; /* Ajusta a imagem para ocupar toda a largura disponível */
    }
    .tema {
        font-size: 16px; /* Ajusta a fonte em telas menores */
    }
    .input input {
        width: 20px; /* Ajusta a largura do input em telas menores */
        height: 30px; /* Ajusta a altura do input em telas menores */
    }
    .teclado button {
        width: 30px; /* Ajusta a largura dos botões em telas menores */
        height: 30px; /* Ajusta a altura dos botões em telas menores */
    }
}