<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Forca</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <img class="imgLogo" src="../assets/explosionLogo.png" alt="explosionLogo">
    </header>

    <div class="Titulo">
        <h1><strong>Jogo da Forca</strong></h1>
    </div>

    <div class="container">
        <section class="imagem">
            <img class="imagemForca" src="../assets/forca-0.jpg" alt="0">
            <div class="tema">
                <h1><strong>Tema:</strong></h1><br>
            </div>

            <div class="Jogo">
                <p id="letras">_ _ _ _ _ _ _</p>
                <div class="input">
                    <input type="text" id="inputLetra" maxlength="1">
                </div>
            </div>
        </section>

        <!-- Teclado Virtual ao lado -->
        <div class="teclado">
            <button>A</button> <button>B</button> <button>C</button> <button>D</button> <button>E</button> <button>F</button> <button>G</button>
            <button>H</button> <button>I</button> <button>J</button> <button>K</button> <button>L</button> <button>M</button> <button>N</button>
            <button>O</button> <button>P</button> <button>Q</button> <button>R</button> <button>S</button> <button>T</button> <button>U</button>
            <button>V</button> <button>W</button> <button>X</button> <button>Y</button> <button>Z</button>
        </div>
    </div>

    <script src="indes.js"></script>
</body>
</html>
